{% extends "layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.css" integrity="sha512-CF1ovh2vRt2kC4JJ/Hl7VC7a+tu/NTO8iW+iltdfvIjvsb45t/6NkRNSrOe6HBxCTVplYLHW5GdlbtRLlCUp2A==" crossorigin="anonymous" />
{% endblock %}
{% block body %}
    <div id="newUserWrapper">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to Cropper.Js demo,</h1>
                <h2>Here You will get some katas about file uploading and manipulation. Lets Go</h2>
                <div class="pull-right"><button class="btn btn-default" id="showFormModal" data-toggle="modal" data-target="#addUserModal">Add new user</button></div>
            </div>
        </div>
    </div>
    <hr>
    <div class="latest-users">
        <div class="row">
            <div class="col-md-12">
                <h2>Latest Users</h2>
            </div>
            <div class="col-md-12" id="userList">
                <p>Load list of users here</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal_body %}
    {% include "pages/modal/add_user.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.js" integrity="sha512-X2gdJmnGR703Kug85OagvkGofikyORko08+ZX+xqt5Kc15GWd6y4uHsnoVobAOeAwlLYCH4dLhR9Y1uNCCov0g==" crossorigin="anonymous"></script>
{% endblock %}