* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#newUserWrapper .pull-right {
    margin: 3em 0 0;
}

#newUserWrapper #showFormModal {
    padding: 10px 20px;
    font-size: 1.125em;
}

