<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                {# only apply the theme to the user_form #}
                {% form_theme user_form 'bootstrap_3_layout.html.twig' %}
                {{ form(user_form) }}
            </div>
        </div>
    </div>
</div>